.App {
	margin-top: 200px;
	display: flex;
	justify-content: center;
}

.todo_list {
	border: 2px solid rebeccapurple;
	width: 400px;
	height: 400px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 5px;
}

.todo {
	border: 1px solid lightsalmon;
	width: 48%;
	height: 55px;
	cursor: pointer;
}

.todo p {
	padding-left: 5px;
	color: darkcyan;
}
