.App {
	width: 800px;
	border: 2px solid rebeccapurple;
	margin: 200px auto;
	display: flex;
	flex-flow: column wrap;
}

.todo_list {
	border: 2px solid lightgreen;
	width: 100%;
	max-width: 600px;
	height: 400px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 5px;
}

.todo {
	border: 1px solid lightsalmon;
	width: 48%;
	height: 55px;
	cursor: pointer;
	display: flex;
}

.todo p {
	padding-left: 5px;
	color: darkcyan;
	width: 80%;
}

.todo button {
	width: 20%;
	cursor: pointer;
}
