body {
	display: flex;
	flex-flow: column wrap;
}

.App {
	width: 600px;
	height: 400px;
	/* border: 2px solid rebeccapurple; */
	margin: 200px auto;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.todo_list {
	/* border: 2px solid lightgreen; */
	max-width: 600px;
	height: 400px;
	padding: 5px;
}

.todo {
	cursor: pointer;
}

.todo p {
	padding-left: 5px;
	color: darkcyan;
}
